# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio User Options and other build files
*.user
*.suo
*.sdf
*.ipch
*.exe
*.ilk
*.obj
*.idb

# Builds
*.res
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.rc
*.tlog
*.log
*.pdb
